<section class="page-header" [style.background-image]="'url(' + bgImage + ')'">
    <div class="overlay">
        <div class="content">
            <app-reveal [blur]="true">
                <h1 class="title">{{ title }}</h1>
            </app-reveal>

            <app-reveal [blur]="true" [delay]="0.3">
                <nav class="breadcrumbs" *ngIf="breadcrumbs.length > 0">
                    <span *ngFor="let crumb of breadcrumbs; let last = last">
                        {{ crumb }}<span *ngIf="!last">&mdash;</span>
                    </span>
                </nav>
            </app-reveal>
        </div>
    </div>
</section>