.blur-text {
    font-weight: 600; 
    color: #ffffff;
    font-family: var(--font-secondary);

    span {
        display: inline-block;
        will-change: transform, filter, opacity;
        opacity: 0;
    }

    &.accent span {
        color: var(--color-accent);
    }
}