<div #containerRef class="logoloop" [class.logoloop--vertical]="isVertical" [class.logoloop--horizontal]="!isVertical"
    [class.logoloop--fade]="fadeOut" [class.logoloop--scale-hover]="scaleOnHover" [ngStyle]="containerStyle"
    role="region" [class.logoloop--grayscale]="grayscale" [attr.aria-label]="ariaLabel">
    <div #trackRef class="logoloop__track" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        @for (copy of copies; track copy) {
        <ul class="logoloop__list" role="list" [attr.aria-hidden]="copy > 0 ? true : null"
            [attr.data-seq]="copy === 0 ? '' : null" #seqRef>
            @for (logo of logos; track $index) {
            <li class="logoloop__item" role="listitem">
                @if (logo.href) {
                <a
                class="logoloop__link"
                [href]="logo.href"
                [attr.aria-label]="logo.alt || logo.title || 'logo link'"
                [attr.title]="logo.title"
                target="_blank"
                rel="noreferrer noopener"
                >
                @if (logo.src) {
                <img [src]="logo.src" [attr.srcset]="logo.srcSet" [attr.sizes]="logo.sizes" [attr.width]="logo.width"
                    [attr.height]="logo.height" [alt]="logo.alt || ''" loading="lazy" decoding="async"
                    draggable="false" />
                } @else if (logo.label) {
                <span class="logoloop__node">{{ logo.label }}</span>
                }
                </a>
                } @else {
                @if (logo.src) {
                <img [src]="logo.src" [attr.srcset]="logo.srcSet" [attr.sizes]="logo.sizes" [attr.width]="logo.width"
                    [attr.height]="logo.height" [alt]="logo.alt || ''" [attr.title]="logo.title" loading="lazy"
                    decoding="async" draggable="false" />
                } @else if (logo.label) {
                <span class="logoloop__node">{{ logo.label }}</span>
                }
                }
            </li>
            }
        </ul>
        }
    </div>
</div>